@import './../../style/colors.scss';

.skill-container
{  
  display: table;
  margin: 10px 0;
  height: calc(100% - 20px); // 20px margin (top, bottom)

  .skill-title
  {
    font-family: KaushanScript;
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
  }

  .skill-text
  {
    font-size: 18px;
    padding: 10px 0;
  }

  .skill-progress
  {
    display: table-row;
    height: 45px;
    font-size: 30px;
    background-color: rgba($color-gold, 0.25);

    .skill-progress-inner
    {
      background-size: 2rem 2rem;
    }
  }
}