<!-- *** Skill *** -->
<div class="skill-container">
    <div class="skill-title" [ngStyle]="{ 'color': color }">
        {{ title }}
    </div>
    <div class="skill-text">
        {{ text }}
    </div>
    <div class="progress skill-progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated skill-progress-inner"
            [ngStyle]="{ 'background-color': color, 'width': value }"
             role="progressbar"
             aria-valuemin="0" 
             aria-valuemax="100">
             {{ value }}
        </div>
    </div>
</div>