<!-- *** Footer *** -->
<div class="footer-container">
  <div class="footer-social-media">
    <!-- soical media icons -->
    <div *ngFor="let icon of _socialMedia" ngbTooltip="{{ icon.title }}" placement="bottom" class="social-media-icon">
      <a [href]="icon.url" target="_blank">
        <img [src]="icon.logo" alt="{{ icon.title }}" class="social-media-icon-img" />
      </a>
    </div>
  </div>
  <div class="text-center footer-text">
    {{ _strings._DevelopedByGilE_ }} &copy; {{ _strings._RightsReserved_ }}
  </div>
</div>