@import './../../style/colors.scss';

.footer-container
{
    background-color: $color-black;
    
    display: block;
    position: relative;
    padding: 30px 15px 30px;

    .footer-social-media
    {
        display: block;
        position: relative;
        text-align: center;
        
        .social-media-icon
        {
            display: inline-block;
            position: relative;
            padding: 15px;
            border: 1px solid rgba($color-black, 0); // add transperent border so the hover-borders wan't change the side of the footer

            .social-media-icon-img
            {
                width: 30px;
                height: 30px;
            }
        }
        .social-media-icon:hover
        {
            border: 1px solid $color-turquoise;
        }
    }

    .footer-text
    {
        display: block;
        position: relative;
        top: 5px;
        font-family: gloria-hallelujah;
        font-size: 12px;        
    }
}