@import './../../style/colors.scss';

.header-black
{
    background-color: $color-light-black;
}

.header-container
{
    position: fixed;
    z-index: 1;
    width: 100%;
    
    // animation duration for class 'header-black'
    $background-animation-duration: 1s;
    -webkit-transition: all $background-animation-duration ease; // Safari
    -moz-transition:    all $background-animation-duration ease; // Mozila
    -o-transition:      all $background-animation-duration ease; // Opera
    transition:         all $background-animation-duration ease; // Default

    .g-header-navbar
    {
        padding-bottom: 0;

        .header-logo
        {
          margin-right: 40px;

          .header-logo-img
          {
            width: 90px;
            height: 90px;
          }
        }

        .g-header-navbar-nav
        {
            font-size: 20px;        
    
            .g-header-nav-item
            {
              text-align: center;
            }
            
            .g-header-nav-item.active
            {
                color: $color-light-blue;
                font-weight: bold;
                border-bottom: 2px solid $color-light-blue;
            }
        }

        @media (max-width: 768px) // small screen (mobile)
        {
          .g-header-navbar-nav 
          {
            background-color: rgba($color-black, 0.9);
            margin-bottom: 20px;
          }
        }
    }
}