@import './../../style/colors.scss';

.header-black
{
    background-color: $color-light-black;
}

.header-container
{
    position: fixed;
    z-index: 1;
    width: 100%;
    
    // animation duration for 'header-black'
    $background-animation-duration: 1s;
    -webkit-transition: all $background-animation-duration ease; // Safari
    -moz-transition:    all $background-animation-duration ease; // Mozila
    -o-transition:      all $background-animation-duration ease; // Opera
    transition:         all $background-animation-duration ease; // Default

    .g-header-navbar
    {
        padding-bottom: 0;

        .header-logo
        {
            width: 90px;
            height: 90px;
        }

        .g-header-navbar-nav
        {
            padding-left: 40px; 
            font-size: 20px;        
    
            .g-header-nav-item
            {
            }
            
            .g-header-nav-item.active
            {
                color: $color-light-blue;
                font-weight: bold;
                border-bottom: 2px solid $color-light-blue;
            }
        }
    }
}