<!-- *** Header *** -->
<div [ngClass]="{ 'header-black': !_isBackgroundTransparent }"
      class="header-container">  

  <nav class="navbar navbar-expand-md navbar-dark container g-header-navbar">

    <!-- Logo -->
    <a class="navbar-brand" href="/homepage">
      <img src="/assets/images/icons/gil/Gil [Pokemon-dark].png" class="header-logo"/>
    </a>

    <!-- Toggle button (small screens only) -->
    <button class="navbar-toggler" 
            type="button"
            (click)="_isHeaderCollapsed = !_isHeaderCollapsed"
            [attr.aria-expanded]="!_isHeaderCollapsed" 
            aria-controls="navbarHeaderCategories" >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Categories (collapse list) -->
    <div class="collapse navbar-collapse" [ngbCollapse]="_isHeaderCollapsed" id="navbarHeaderCategories">
      <div class="navbar-nav g-header-navbar-nav">         
        <!-- class="active" routerLink="{{ page.routeLink }}" routerLinkActive="active" -->
        <a *ngFor="let page of _pages"
            [href]="'#' + page.id"
            (click)="_onClickHeaderItem(page.id)"
            [ngClass]="{ 'active': _activePageId == page.id }"
            class="nav-item nav-link g-header-nav-item">
          {{ _strings[page.title] }}
        </a>
      </div>
    </div>
  </nav>
</div>