<!-- *** Contact-Form *** -->
<div class="contact-form-container row"> 
  
  <div class="contact-form-col col-md-6">
    <!-- Name -->
    <input type="input" [placeholder]="_strings._Name_" class="g-form-input" [(ngModel)]="_name" maxlength="32"/>
    <!-- eMail -->
    <input type="input" [placeholder]="_strings._EMail_" class="g-form-input" [(ngModel)]="_email" maxlength="64"/>
    <!-- Phone -->
    <input type="input" [placeholder]="_strings._Phone_" class="g-form-input" [(ngModel)]="_phone" maxlength="32"/>
  </div>

  <div class="contact-form-col col-md-6">
    <!-- Message -->
    <textarea [placeholder]="_strings._Message_" class="g-form-input g-form-input-multiline" [(ngModel)]="_message" maxlength="1024">
    </textarea>
    <!-- Send (button) -->
    <input type="button" [value]="_strings._Send_" class="g-form-input g-form-input-button" (click)="_onClickSend()" />
  </div>

  <div class="col-12" [ngClass]="{ 'form-valid': _isFormValid, 'form-invalid': !_isFormValid }">
    {{ _formMessage }}
  </div>
</div>