@import './../../style/colors.scss';

.section-header-container
{
    display: block;
    position: relative;
    padding: 50px 55px 0;

    .section-header-title-marker
    {
        position: absolute;
        top: 58px;
        left: 0;
        width: 49px;
        height: 43px;
        
        background-color: $color-gold;
    }

    .section-header-title
    {
        font-family: Anton;
        font-size: 50px;
    }

    .section-header-text
    {
        font-family: Acme;
        font-size: 18px;
    }
}