<!-- *** About Page *** -->
<div class="about-container container">

  <!-- About -->
  <div class="about-section row">
    <section-header [title]="_strings._AboutTitle_" class="col-12">
    </section-header>

    <div class="about-img-container col-lg-6 col-xl-5">
      <img src="/assets/images/photos/about-photo-blur.jpg" class="about-img">
    </div>

    <div class="col-lg-6 col-xl-7">
      <h1 class="about-section-title">
          {{ _strings._HelloIAm_ }} 
          <span class="about-section-title-bold">
            {{ _strings._GilEpshtain_ }}
          </span>
          {{ _strings._WebDeveloper_ }}      
      </h1>
      <p class="about-section-text">
        {{ _strings._AboutText_ }}    
      </p>
    </div>
  </div>
  
  <!-- Skills -->
  <div class="about-section row">
    <section-header [title]="_strings._SkillsTitle_" class="col-12">
    </section-header>

    <div *ngFor="let skill of _skills" class="col-md-4">
      <g-skill [title]="skill.title"
               [text]="skill.text"
               [value]="skill.value"
               [color]="skill.color">
      </g-skill>
    </div>
  </div>

  <!-- Experience -->
  <div class="about-section">
    <section-header [title]="_strings._ExperienceTitle_">
    </section-header>

    <h3>Experience Section</h3>
  </div>

  <!-- Education -->
  <div class="about-section">
    <section-header [title]="_strings._EducationTitle_">
    </section-header>

    <h3>Education Section</h3>
  </div>
</div>