<!-- *** About Page *** -->
<div class="about-container">

  <!-- About -->
  <section-header [title]="txtAboutTitle">
  </section-header>

  <div class="about-section">
    <img src="/assets/images/photos/about-photo-blur.jpg" class="about-img">
    <h1 class="about-section-title">
        Hello everybody, I’m <span class="about-section-title-bold">Gil Epshtain</span> Web and Mobile Developer, Expert of the Client Side.        
    </h1>
    <p class="about-section-text">
        I’ve been developing websites all the way back to the dark ages of Web1.0, Netscape and Internet Explorer 1.x. Already back then I fell in love in the Internet and its ecosystem. 
        Since then I have finished my academic degree and I have become a professional web developer. Adding to this my passion for designing and creative thinking will make me the perfect choice for your next big web project.         
    </p>
  </div>

  <!-- Skills -->
  <section-header [title]="txtSkillsTitle">
  </section-header>
  <h3>Skils Section</h3>

  <!-- Experience -->
  <section-header [title]="txtExperienceTitle">
  </section-header>
  <h3>Experience Section</h3>

</div>