<!-- *** About Page *** -->
<div class="about-container container">

  <!-- About -->
  <section-header [title]="_strings._AboutTitle_">
  </section-header>
  <div class="about-section row">
    <div class="about-img-container col-lg-6 col-xl-5">
      <img src="/assets/images/photos/about-photo-blur.jpg" class="about-img">
    </div>

    <div class="col-lg-6 col-xl-7">
      <h1 class="about-section-title">
          {{ _strings._HelloIAm_ }} 
          <span class="about-section-title-bold">
            {{ _strings._GilEpshtain_ }}
          </span>
          {{ _strings._WebDeveloper_ }}      
      </h1>
      <p class="about-section-text">
        {{ _strings._AboutText_ }}    
      </p>
    </div>
  </div>
  
  <!-- Skills -->
  <section-header [title]="_strings._SkillsTitle_">
  </section-header>
  <div class="about-section row">
    <div *ngFor="let skill of _skills" class="col-md-4">
      <g-skill [title]="skill.title"
               [text]="skill.text"
               [value]="skill.value"
               [color]="skill.color">
      </g-skill>
    </div>
  </div>

  <!-- Experience -->
  <section-header [title]="_strings._ExperienceTitle_">
  </section-header>
  <div class="about-section row">
    <div *ngFor="let experience of _experiences" class="col-md-6">
      <g-experience [title]="experience.title"
                    [years]="experience.years"
                    [institution]="experience.institution"
                    [url]="experience.url"
                    [text]="experience.text"
                    [color]="experience.color">
      </g-experience>
    </div>
  </div>

  <!-- Education -->
  <section-header [title]="_strings._EducationTitle_">
  </section-header>
  <div class="about-section row">
    <div class="col-12">
      <g-experience [title]="_education.title"
                    [years]="_education.years"
                    [institution]="_education.institution"
                    [url]="_education.url"
                    [text]="_education.text"
                    [color]="_education.color">
      </g-experience>
    </div>
  </div>
</div>