<!-- *** Projects-Page *** -->
<div class="projects-container container">
  <section-header [title]="_strings._ProjectsTitle_"
                  [text]="_strings._ProjectsText_">
  </section-header>

  <!-- Projects Carousel -->
  <ngb-carousel class="projects-carousel">
    <ng-template ngbSlide *ngFor="let project of _projects">
      <img [src]="project.image" class="projects-carousel-img">
      <div class="carousel-info">
        <div class="carousel-info-title" [ngStyle]="{ 'color': project.color }">
          {{ project.title }}
        </div>
        <div class="carousel-info-text">
          {{ project.text }}  
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>