// Fonts
@font-face
{
    font-family: Acme;
    src: url(/assets/fonts/Acme/Acme-Regular.ttf);

}
@font-face
{
    font-family: Anton;
    src: url(/assets/fonts/Anton/Anton-Regular.ttf);
}

@font-face
{
    font-family: gloria-hallelujah;
    src: url(/assets/fonts/Gloria_Hallelujah/GloriaHallelujah.ttf);
}